<!DOCTYPE html>
<html>
  <head>
    <title>Staba Satapathy </title>
    <style>
      h1{font-size:30px;
         font-family: Roboto;
         font-weight:normal;
         color:rgb(25, 25, 112)
      }
      h2{font-size:30px;
         font-family: Roboto;
         font-weight:normal;
         color:rgb(70, 130, 180)}
       
}  
 .button_css
{
	background-color:CornflowerBlue;
	color: white;
	width: 150px;
	height: 40px;
}
}
    </style>
  </head>
  <body>
    <h1>
    <center>
      <p>I am Staba Satapathy</p>
      </center>
      </h1>
    <center>
      <p>Contemplative coder and analyst. Inspired by tough problems</p>
      </center>
   <p style="text-align:center;"> <img src="https://media-exp1.licdn.com/dms/image/C5603AQELwdGTttO3HQ/profile-displayphoto-shrink_200_200/0/1646906581473?e=2147483647&v=beta&t=XJE5t8-tSx27uZ2r-uE_9bACQez59YHo26ndN7Bk5Tc"></p>
    <h2>
      <center>
      <p>About me</p>
      </center>
    </h2>
    <center>
    <p>Working in Apple as Fraud Prevention Analyst located in Cork, Ireland.</p>
      </center>
<center>
<input type="button" style="background-color:CornflowerBlue;color:white;width:150px;
height:40px;" value="MY PROJECTS">
  </center>  

 
  </body>
  
</html>
