Staba Satapathy
Cork, Ireland * +353899417414 * Staba.satapathy@gmail.com https://www.linkedin.com/in/staba-satapathy-a936821a0/
CAREER OBJECTIVE
A highly motivated and hardworking individual with 7+ years of experience as Fraud analyst and subject matter expert now looking for a Data Analyst opportunity.
Technical expertise in SQL, Python, Tableau, Excel
EDUCATION
Data Science, Jovian June, 2022 - Ongoing
Courses: Python Programming, Statistics, Data Analysis & Visualization, Machine Learning, SQL & Analytics
Highlights: 500+ hours of coursework, 10 coding assignments, 3 projects (Web scraping, EDA, ML)
Data Analysis, Jovian (View) April, 2022
Courses: Pandas, Numpy, Visualization with Matplotlib and seaborn
Jawaharlal Nehru Technological University Bachelor's degree in Computer Science 2011 - 2015
Courses: Database Management Systems, Introduction to Programming, Applied Mathematics, Java, Communication Systems and Circuits, Computer Architecture, Computer Networks.
WORK EXPERIENCE
Apple (Apple.com) (July,2020-Present)
Role: Fraud Analyst with Data
· Analysing high risk orders, understanding and reporting new fraud trends.
· Doing background checks for the customers.
· Conducting QAs and accuracy reviews on cases actioned by fraud prevention specialists.
· Providing relevant feedback to the team in order to ensure high
standard performances.
Current Project : Working on Project to analyse if the cases are being routed correctly to all the team members using Python and Tableau
Amazon (amazon.com)
(Oct,2020-June,2019)
          · My primary roles were to Investigate, identify, and prevent/remove
 product quality issues of Amazon by reviewing Amazon user accounts, verify the transactions made by users, monitoring user-generated content, advertisements, local business listings, and/or search results to enforce product specific policies.
· Reviewing and researching evidence/documents to analyse the overall fact pattern of claim and synthesize data into a professional report with recommendations.
GlobalLogic
(April,2015-July2017)
· Results-driven, skilledSubject Matter Expert (SME) focused on
achieving
Success and increased productivity through improvements in quality of
my team.
· Worked on various google products and making sure the adhere to google policy.
· Using Excel to do quality of my team and conducting training sessions.
· Providing relevant feedback to the team in order to ensure high standard performances.
PROJECTS (VIEW ALL)
Exploratory Data Analysis and Visualization of population- pyramid-1950-2022(View)
· Worked with population-pyramid dataset from Kaggle containing
44604 rows × 5 columns
● Theobjectiveofthisprojectwastoidentifygrowthinonecounty,the
total population in each countries, how does age group comes into effect when viewed population in a pie chart
· Used matplotlib and seaborn to do data visualization and graphical plotting library for Python and its numerical extension NumPy.
Web Scraping with python (View)
· Selected an html page to scrape the related information. And downloaded pages using “request” library
· Used BeautifulSoup to parse HTML source code
· Extracted and combined data from multiple pages
● CreateaCSVfilewithalltheinformationthatwehaveextractedfrom above steps
SQL, Excel, and Tableau (View)
● WorkedwithBookShopdatasetfromTableautodonecessary
    visualizations and correlations.

Web development with Python-Ongoing (View)
· Creating my own portfolio with home button linking to Jovian, email me option and my web scraping project.
· Future work- To add all my python projects and increase the font size of image and home contents.
SKILLS & CERTIFICATIONS
Online Courses: Web Development (view), exploratory data analysis with
python and matplotlib, SQL, Data analysis with Excel and Tableau.
Skill: SQL, Presentation, Numpy, Pandas, Python, Excel, Tableau, Git, R, Flask, Web Development
VISA
Currently on Stamp 1, General work permit and based in Cork.